{% load static i18n %}
<footer class="footer">
      <div class="footer-primary">
        <div class="container">
          <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3 footer-widget footer-widget-contact">
              <h6 class="footer-widget-title">Datamaris Teknoloileri</h6>
              <div class="footer-widget-content">

                <div class="contact__number d-flex align-items-center mb-30">
                  <i class="icon-phone"></i>
                  <a href="tel:5565454117" class="color-primary">+90 (252) 413 19 88</a>
                </div><!-- /.contact__numbr -->
                <p class="mb-20">Netsel Marina Kat:1 No:38 / Marmaris / Muğla</p>

              </div><!-- /.footer-widget-content -->
            </div><!-- /.col-xl-3 -->
            <div class="col-6 col-sm-6 col-md-6 col-lg-2 col-xl-2 footer-widget footer-widget-nav">
              <h6 class="footer-widget-title">Servisler</h6>
              <div class="footer-widget-content">
                <nav>
                  <ul class="list-unstyled">
                    {% for service in services %}
                    <li><a href="about-us.html">{{service.title}}</a></li>
                      {% endfor %}
                  </ul>
                </nav>
              </div><!-- /.footer-widget-content -->
            </div><!-- /.col-xl-2 -->
            <div class="col-6 col-sm-6 col-md-6 col-lg-2 col-xl-2 footer-widget footer-widget-nav">
              <h6 class="footer-widget-title">Referanslar</h6>
              <div class="footer-widget-content">
                <nav>
                  <ul class="list-unstyled">
                    {% for referance in referances %}
                    <li><a href="/datamaris/referance/">{{referance.referance}}</a></li>
                    {% endfor %}
                  </ul>
                </nav>
              </div><!-- /.footer-widget-content -->
            </div><!-- /.col-xl-2 -->
            <div class="col-6 col-sm-6 col-md-6 col-lg-2 col-xl-2 footer-widget footer-widget-nav">
              <h6 class="footer-widget-title">İletişim</h6>
              <div class="footer-widget-content">
                <nav>
                  <ul class="list-unstyled">
                    <li><a href="#">Bize Yazın</a></li>
                    <li><a href="#">Şikayetleriniz</a></li>
                    <li><a href="#">Önerileriniz</a></li>

                  </ul>
                </nav>
              </div><!-- /.footer-widget-content -->
            </div><!-- /.col-xl-2 -->
            <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3 footer-widget footer-widget-align-right">
              <h6 class="footer-widget-title">DATAMARİS</h6>
              <div class="footer-widget-content">
                <a href="/datamaris/service" class="btn btn__primary btn__primary-style2 btn__download mb-60">
                  <i class="icon-download"></i>
                  <span>Servislerimiz</span>
                </a>
                <ul class="social-icons list-unstyled">
                  <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                  <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                  <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                </ul><!-- /.social-icons -->
              </div><!-- /.footer-widget-content -->
            </div><!-- /.col-xl-3 -->
          </div><!-- /.row -->
        </div><!-- /.container -->
      </div><!-- /.footer-primary -->
      <div class="footer-copyrights">
        <div class="container">
          <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12 d-flex justify-content-between">

              <p class="mb-0">
                <span class="color-gray">&copy; 2022 Central Web Agency, All Rights Reserved. With Love by</span>
                <a style="color:white;" href="https://www.centralwebagency.com/">CWA</a>
              </p>
            </div><!-- /.col-lg-12 -->
          </div><!-- /.row -->
        </div><!-- /.container -->
      </div><!-- /.footer-copyrights-->
    </footer><!-- /.Footer -->
    <button id="scrollTopBtn"><i class="fas fa-long-arrow-alt-up"></i></button>