{% extends "base.html" %}

{% load static i18n %}

{% block css %}

{% endblock %}

{% block seo %}


<title>Datamaris</title>

<meta name="description" content="" />

<meta name="keywords" content="" />

<link rel="canonical" href=""/>

<meta http-equiv="content-type" content="text/html; charset=UTF-8"/>

<meta name="robots" content="index,follow"/>

<meta name="googlebot" content="index,follow"/>

<meta name="author" content="İhsan Gürol Demirtaş">

<meta name="publisher" content="2020.01" />

{% endblock %}




{% block content %}

<main class="site-content">
                <!-- ==================== -->
                <!-- slider-wrapper start -->
                <div class="slider-wrapper">
                    <div id="mainSlider" class="carousel slide carousel-fade" data-ride="carousel">
                        <ol class="carousel-indicators">
                            <li data-target="#mainSlider" data-slide-to="0" class="active"></li>
                            <li data-target="#mainSlider" data-slide-to="1"></li>
                            <li data-target="#mainSlider" data-slide-to="2"></li>
                        </ol>
                        <!-- /.carousel-indicators -->

                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <div class="item-inner" style="background-image: url({% static 's1.jpeg' %});">
                                    <div class="container h-100">
                                        <div class="row h-100 align-items-center">
                                            <div class="col-xl-6 col-lg-8">
                                                <div class="slider-content">
                                                    <h2 data-animation="animate__animated animate__fadeInUp animD-1">Datamaris</h2>
                                                    <p data-animation="animate__animated animate__fadeInUp animD-2">We provide CCTV surveillance cameras, personal and all kinds of related services for home, office, and industry.</p>
                                                    <a href="service.html" data-animation="animate__animated animate__fadeInUp animD-3" class="theme-btn">All Services <i class="icofont-double-right"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="scroling-lines">
                                            <span>
                                                <span data-parallax='{"y":750, "smoothness":45}'></span>
                                            </span>
                                            <span>
                                                <span data-parallax='{"y":-550, "smoothness":55}'></span>
                                            </span>
                                            <span>
                                                <span data-parallax='{"y":250, "smoothness":65}'></span>
                                            </span>
                                            <span>
                                                <span data-parallax='{"y":650, "smoothness":25}'></span>
                                            </span>
                                            <span>
                                                <span data-parallax='{"y":-450, "smoothness":45}'></span>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- /.carousel-item -->
                            <div class="carousel-item">
                                <div class="item-inner" style="background-image: url({% static 's2.jpeg' %});">
                                    <div class="container h-100">
                                        <div class="row h-100 align-items-center">
                                            <div class="col-xl-6 col-lg-8">
                                                <div class="slider-content">
                                                    <h2 data-animation="animate__animated animate__fadeInUp animD-1">Datamaris</h2>
                                                    <p data-animation="animate__animated animate__fadeInUp animD-2">We provide CCTV surveillance cameras, personal and all kinds of related services for home, office, and industry.</p>
                                                    <a href="service.html" data-animation="animate__animated animate__fadeInUp animD-3" class="theme-btn">All Services <i class="icofont-double-right"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="scroling-lines">
                                            <span>
                                                <span data-parallax='{"y":750, "smoothness":45}'></span>
                                            </span>
                                            <span>
                                                <span data-parallax='{"y":-550, "smoothness":55}'></span>
                                            </span>
                                            <span>
                                                <span data-parallax='{"y":250, "smoothness":65}'></span>
                                            </span>
                                            <span>
                                                <span data-parallax='{"y":650, "smoothness":25}'></span>
                                            </span>
                                            <span>
                                                <span data-parallax='{"y":-450, "smoothness":45}'></span>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- /.carousel-item -->
                            <div class="carousel-item">
                                <div class="item-inner" style="background-image: url({% static 's3.jpeg' %});">
                                    <div class="container h-100">
                                        <div class="row h-100 align-items-center">
                                            <div class="col-xl-6 col-lg-8">
                                                <div class="slider-content">
                                                    <h2 data-animation="animate__animated animate__fadeInUp animD-1">Datamaris</h2>
                                                    <p data-animation="animate__animated animate__fadeInUp animD-2">We provide CCTV surveillance cameras, personal and all kinds of related services for home, office, and industry.</p>
                                                    <a href="service.html" data-animation="animate__animated animate__fadeInUp animD-3" class="theme-btn">All Services <i class="icofont-double-right"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="scroling-lines">
                                            <span>
                                                <span data-parallax='{"y":750, "smoothness":45}'></span>
                                            </span>
                                            <span>
                                                <span data-parallax='{"y":-550, "smoothness":55}'></span>
                                            </span>
                                            <span>
                                                <span data-parallax='{"y":250, "smoothness":65}'></span>
                                            </span>
                                            <span>
                                                <span data-parallax='{"y":650, "smoothness":25}'></span>
                                            </span>
                                            <span>
                                                <span data-parallax='{"y":-450, "smoothness":45}'></span>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- /.carousel-item -->
                        </div>

                        <!-- Controls -->
                        <a class="carousel-control-prev" href="#mainSlider" role="button" data-slide="prev">
                            <i class="icofont-double-left"></i>
                        </a>
                        <a class="carousel-control-next" href="#mainSlider" role="button" data-slide="next">
                            <i class="icofont-double-right"></i>
                        </a>
                    </div>
                </div>
    <div class="about-section" id="about">
                    <div class="container-xl">
                        {% for about in abouts %}
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="about-content">
                                    <h2>{{about.title}}</h2>
                                    <br>
                                    <p>
                                        {{about.about}}
                                    </p>
                                    <a href="/datamaris/contact/" class="theme-btn">İletişim <i class="icofont-double-right"></i></a>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="intro-gallery">
                                    <div class="tab-content" id="img-gallery">
                                        <div class="tab-pane fade" id="tab1" role="tabpanel" aria-labelledby="tab-01">
                                            <figure>
                                                <img src="{% if about.image %}{{ about.image.url }}{% else %}{% endif %}" alt="Gallery Image" />
                                            </figure>
                                        </div>
                                        <div class="tab-pane fade show active" id="tab2" role="tabpanel" aria-labelledby="tab-02">
                                            <figure>
                                                <img src="{% if about.image2 %}{{ about.image2.url }}{% else %}{% endif %}" alt="Gallery Image" />
                                            </figure>
                                        </div>
                                        <div class="tab-pane fade" id="tab3" role="tabpanel" aria-labelledby="tab-03">
                                            <figure>
                                                <img src="{% if about.image3 %}{{ about.image3.url }}{% else %}{% endif %}" alt="Gallery Image" />
                                            </figure>
                                        </div>
                                    </div>
                                    <ul class="about-gallery-list nav" id="about-imgs" role="tablist">
                                        <li>
                                            <a id="tab-01" data-toggle="tab" href="#tab1" role="tab" aria-controls="tab1" aria-selected="false">
                                                <figure>
                                                    <img src="{% if about.image %}{{ about.image.url }}{% else %}{% endif %}" alt="about img-gallery" />
                                                </figure>
                                            </a>
                                        </li>
                                        <li>
                                            <a class="active" id="tab-02" data-toggle="tab" href="#tab2" role="tab" aria-controls="tab2" aria-selected="true">
                                                <figure>
                                                    <img src="{% if about.image2 %}{{ about.image2.url }}{% else %}{% endif %}" alt="about img-gallery" />
                                                </figure>
                                            </a>
                                        </li>
                                        <li>
                                            <a id="tab-03" data-toggle="tab" href="#tab3" role="tab" aria-controls="tab3" aria-selected="false">
                                                <figure>
                                                    <img src="{% if about.image3 %}{{ about.image3.url }}{% else %}{% endif %}" alt="about img-gallery" />
                                                </figure>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
    <div class="feature-section">
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-xl-6">
                                <div class="section-header text-center overflow-hidden wow animate__animated animate__slow animate__fadeInUp">
                                    <h2>Neden Biz?</h2>
                                    <p>Bu alana mini Bir açıklama yazılacak neden seni tercih etmelerini gerektiğini anlatan</p>
                                </div>
                            </div>
                        </div>
                        <div class="feature-carousel">
                            <div class="feature-single">
                                <a>
                                    <i class="icofont-money-bag"></i>
                                    <span>Doğru ürün Doğru fiyat</span>
                                </a>
                            </div>
                            <div class="feature-single">
                                <a>
                                    <i class="icofont-live-support"></i>
                                    <span>24/7 Hizmet</span>
                                </a>
                            </div>
                            <div class="feature-single">
                                <a>
                                    <i class="icofont-chart-histogram-alt"></i>
                                    <span>İleri Seviye Hizmet</span>
                                </a>
                            </div>
                            <div class="feature-single">
                                <a>
                                    <i class="icofont-man-in-glasses"></i>
                                    <span>Uzman Ekip</span>
                                </a>
                            </div>
                            <div class="feature-single">
                                <a>
                                    <i class="icofont-checked"></i>
                                    <span>Doğru Tercih</span>
                                </a>
                            </div>
                            <div class="feature-single">
                                <a>
                                    <i class="icofont-download"></i>
                                    <span>Hazır Alt Yapılar</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
    <div class="service-section" id="service">
                    <div class="container-xl">
                        <div class="row justify-content-center">
                            <div class="col-xl-6">
                                <div class="section-header text-center wow animate__animated animate__slow animate__fadeInUp">
                                    <h2>Servislerimiz</h2>
                                    <p>Bu alana Kısa metin Servislerimiz arka alandan Dinammik girilcek</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="service-area">
                        <div class="container-xl">
                            <div class="row">
                                {% for service in services %}
                                <div class="col-lg-6">
                                    <div class="service-single">
                                        <figure>
                                            <a href="service.html">
                                                <img src="{% if service.image %}{{ service.image.url }}{% else %}{% endif %}" alt="Service Thumb" />
                                            </a>
                                        </figure>
                                        <div class="service-card">
                                            <h2><a href="service.html" class="tdu-hover">{{service.title}}</a></h2>
                                            <p>{{service.service}}</p>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="text-center">
                            <a href="service.html" class="theme-btn">Bize ulaşın <i class="icofont-double-right"></i></a>
                        </div>
                    </div>
                </div>
    <div class="team-section" id="team">
                    <div class="container">
                        <div class="d-xl-flex d-block justify-content-xl-between align-items-xl-center">
                            <div class="section-header wow animate__animated animate__slow animate__fadeInUp">
                                <h2>Uzman Ekip</h2>
                                <p>Ekip'i açıklıcak güzel mini bir açıklama</p>
                            </div>
                            <div class="team-button wow animate__animated animate__slow animate__fadeInUp" data-wow-delay="0.3s">
                                <a href="/datamaris/contact/" class="theme-btn">Bize Katıl <i class="icofont-double-right"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="container-fluid mt-5 pt-xl-5">
                        <div class="row">
                            {% for personel in personels %}
                            <div class="col-lg-3 col-sm-6">
                                <figure class="team-member wow animate__animated animate__slow animate__fadeInUp">
                                    <img src="{% if personel.image %}{{ personel.image.url }}{% else %}{% endif %}" alt="Team Member Name" />
                                    <figcaption>
                                        <h3>{{personel.name}}</h3>
                                        <p>{{personel.title}}</p>
                                    </figcaption>
                                </figure>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
    <div class="service-section">
                    <div class="container-xl">
                        <div class="row justify-content-center">
                            <div class="col-xl-6">
                                <div class="section-header text-center wow animate__animated animate__slow animate__fadeInUp">
                                    <h2>Referanslarımız</h2>
                                    <p>Mini Bir açıklama güzel naif kısa</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="service-area">
                        <div class="container-xl">
                            <div class="row">
                                {% for referance in referances %}
                                <div class="col-lg-6">
                                    <div class="service-single">
                                        <figure>
                                            <a href="service.html">
                                                <img src="{% if referance.image %}{{ referance.image.url }}{% else %}{% endif %}" alt="Service Thumb" />
                                            </a>
                                        </figure>
                                        <div class="service-card">
                                            <h2><a href="service.html" class="tdu-hover">{{referance.referance}}</a></h2>
                                            <p>{{referance.work}}</p>
                                            <a href="/datamaris/contact/">İletişim <i class="icofont-double-right"></i></a>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>

                        </div>
                        <div class="text-center">
                            <a href="/datamaris/contact/" class="theme-btn">Bize Ulaşın <i class="icofont-double-right"></i></a>
                        </div>
                    </div>
                </div>

</main>

{% endblock %}


{% block jss %}
{% endblock %}