{% extends "base.html" %}

{% load static i18n %}

{% block css %}

{% endblock %}

{% block seo %}


<title>Referance</title>

<meta name="description" content="" />

<meta name="keywords" content="" />

<link rel="canonical" href=""/>

<meta http-equiv="content-type" content="text/html; charset=UTF-8"/>

<meta name="robots" content="index,follow"/>

<meta name="googlebot" content="index,follow"/>

<meta name="author" content="İhsan Gürol Demirtaş">

<meta name="publisher" content="2020.01" />

{% endblock %}




{% block content %}
 <section class="page-title page-title-layout1 bg-overlay bg-overlay-2 bg-parallax text-center">
      <div class="bg-img"><img src="{% static '1900.webp' %}" alt="background"></div>
      <div class="container">
        <div class="row">
          <div class="col-12">
            <h1 class="pagetitle__heading mb-0">DATAMARİS </h1>
            <a href="#awards" class="scroll-down">
              <i class="icon-arrow-down"></i>
            </a>
          </div><!-- /.col-xl-6 -->
        </div><!-- /.row -->
      </div><!-- /.container -->
    </section><!-- /.page-title -->

    <!-- ===========================
      awards
    ============================= -->
    <section id="awards" class="awards pb-70">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-md-12 col-lg-8 offset-lg-2">
            <div class="heading-layout2 text-center mb-50">
              <h2 class="heading__subtitle"></h2>
              <h3 class="heading__title">Referans ve İş Ortaklarımız</h3>
            </div><!-- /.heading -->
          </div><!-- /.col-lg-8 -->
        </div><!-- /.row -->
        <div class="row">
            {%for ref in referances %}
            <div class="col-sm-12 col-md-4 col-lg-4">
            <div class="feature-item">
              <div class="feature__img">
                <img src="{% if ref.image %}{{ ref.image.url }}{% else %}{% endif %}" alt="certificate" class="img-fluid">
              </div><!-- /.feature-img -->
              <div class="feature__body">
                <h4 class="feature__title">{{ref.referance}}</h4>
                <p class="feature__desc">{{ref.work}}</p>
              </div><!-- /.feature-content -->
            </div><!-- /.feature-item -->
          </div><!-- /.col-lg-4 -->
            {% endfor %}
        </div><!-- /.row -->
      </div><!-- /.container -->
    </section><!-- /.awards -->

{% endblock %}


{% block jss %}


{% endblock %}
<div class="service-section">
                    <div class="container-xl">
                        <div class="row justify-content-center">
                            <div class="col-xl-6">
                                <div class="section-header text-center wow animate__animated animate__slow animate__fadeInUp">
                                    <h2>Referanslarımız</h2>
                                    <p>Mini Bir açıklama güzel naif kısa</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="service-area">
                        <div class="container-xl">
                            <div class="row">
                                {% for referance in referances %}
                                <div class="col-lg-6">
                                    <div class="service-single">
                                        <figure>
                                            <a href="service.html">
                                                <img src="{% if referance.image %}{{ referance.image.url }}{% else %}{% endif %}" alt="Service Thumb" />
                                            </a>
                                        </figure>
                                        <div class="service-card">
                                            <h2><a href="service.html" class="tdu-hover">{{referance.referance}}</a></h2>
                                            <p>{{referance.work}}</p>
                                            <a href="/datamaris/contact/">İletişim <i class="icofont-double-right"></i></a>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>

                        </div>
                        <div class="text-center">
                            <a href="/datamaris/contact/" class="theme-btn">Bize Ulaşın <i class="icofont-double-right"></i></a>
                        </div>
                    </div>
                </div>